/src/managing-the-applications-lifecycle/                     @claudiacarpinteiro

/src/deliver-mobile/                                          
/src/extensibility-and-integration/artificial-intelligence/   
/src/extensibility-and-integration/mobile-plugins/            
/src/develop/logic/emails-reactive/                            
/src/develop/ui/                                              
