/src/managing-the-applications-lifecycle/                     @claudiacarpinteiro

src/deploying-apps/mobile-app-packaging-delivery
/src/integration-with-systems/artificial-intelligence/   
/src/integration-with-systems/mobile-plugins/            
/src/building-apps/sending-emails/                   
/src/building-apps/ui/                                              
