name: Style Guide Validation

on:
  workflow_call:
    inputs:
      changed-files:
        description: "List of changed files to validate"
        type: string
        required: true
      pull-request:
        description: "The Pull Request number"
        type: string
        required: true

concurrency: style-guide-validation-${{ github.ref }}

run-name: "Validate style guides in ${{ github.ref_name }}"

jobs:
  style-guide-validation:
    name: Run Style Guide Validation
    uses: OutSystems/tk-cicd/.github/workflows/style-guides-validation.yml@main
    with:
      runner-type: "ubuntu-latest"
      changed-files: ${{ inputs.changed-files }}
      pull-request: ${{ inputs.pull-request }}
    secrets:
      github-token: ${{ secrets.TOOLS_PAT }}
      copilot-token: ${{ secrets.TK_COPILOT_TOKEN }}
